node_modules/
in28minutes(instructions\ on\ using\ app\ and\ solving issues).docx
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

desktop.ini

# macOS
.DS_Store
